/* http://www.w3schools.com/cssref/pr_gen_content.asp*/
/* http://www.w3schools.com/cssref/pr_gen_content.asp */

.libraryLoad:before
{               
    content: "jQuery library loaded from /script/jquery-1.9.0.js!";
}

.libraryLoad
{
    background-color:#d0e4fe;
    color: orange;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 20px; 
}